.button-classic {
  background-color: var(--pallete-cosmic-latte);
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.769);
  color: black;
  padding: 5px 10px;
  min-width: 200px;
  font-family: 'Inter';
  font-weight: bold;
  cursor: pointer;
}

.button-classic:hover {
  background-color: var(--pallete-peach-yellow);
}

button[type='submit'],
button[type='button'] {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.disabled {
  background-color: #ececec;
  color: var(--pallete-dark-gray);
  cursor: not-allowed;
}

.disabled:hover {
  background-color: #ececec;
}

.field-button {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  padding: 2px;
  cursor: pointer;
  border-radius: 3px;
}

.field-button:hover {
  background-color: rgba(185, 185, 185, 0.379);
}
