/**
 * A configuration file for ESLint (a JavaScript/TypeScript linter).
 * Used to catch bugs and syntax issues, etc.
 */

{
  "rules": {
    "no-console": "off",
    "global-require": "off",
    "import/no-dynamic-require": "off"
  }
}
