/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* main pallete */
  --pallete-indigo: #0c1633;
  --pallete-white: #fffcf4;
  --pallete-orange: #ff7c04;
  --pallete-lighter-orange: #ff9e4f;
  --pallete-blue: #5e90fc;
  --pallete-light-indigo: #5569a3;
  --pallete-black: #1b1b1b;
  --pallete-light-grey: #7e7e7e;

  --pallete-text-darkBlue: #0c1633;

  --pallete-cosmic-latte: #fff9e4;
  --pallete-peach-yellow: #f7dba7;
  --pallete-desert-sand: #e0b49e;
  --pallete-atomic-tangerine: #f1ab86;
  --pallete-brown-sugar: #c57b57;
  --pallete-gunmetal: #1e2d2f;
  --pallete-dark-green: #041f1e;
}

body {
  background-color: var(--pallete-gunmetal);
  margin: 0;
}

p {
  margin: 0;
}

.headingContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.inputContainer {
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.beamCardsInputContainer {
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.beamsInputContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputField {
  display: flex;
  flex-direction: column;
}

.inputSection {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 0.8em;
  font-family: 'Livvic';
  font-weight: bold;
  color: black;
}

input[type='text'],
input[type='number'] {
  border-radius: 3px;
  border: 1.7px solid black;
  width: 100%;
  box-sizing: border-box;
  padding: 3px 5px;
  font-family: 'Inter';
}

input[type='number']:focus {
  outline: none;
}

.field {
  background-color: white;
  outline: 1.7px solid black;
  outline-offset: -1.7px;
  border-radius: 3px;
  position: relative;
  padding: 30px 5px 10px 5px;
}

.fieldInside {
  width: 100%;
  resize: none; /* optional: prevents manual resizing */
  overflow: hidden; /* hides scrollbars */
  line-height: 1.5;
  padding: 0.5rem;
  font-size: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 0px 10px 0px 10px;
}
.fieldInside:focus {
  outline: none;
}

.fieldActionButtons {
  display: flex;
  position: absolute;
  top: 2px;
  right: 2px;
}

textarea {
  font-family: 'Inter';
}

.inputGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.gridContainerFixedGroup {
  height: fit-content;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter.ttf');
}

@font-face {
  font-family: 'Miriam Libre';
  src: url('assets/fonts/MiriamLibre.ttf');
}

@font-face {
  font-family: 'Livvic';
  src: url('assets/fonts/Livvic.ttf');
}
